<%- partial('../editor_sidebar') %>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/demo.css" />

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ol class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <% if(typeof(action) !== 'undefined' && action == 'edit'){ %>
        <li class='active'>编辑文章</li>
        <% }else{ %>
        <li class='active'>发布文章</li>
        <% } %>
      </ol>
    </div>
    <div class='inner post'>
      <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= edit_error %></strong>
      </div>
      <% } %>
      <% if(typeof(error) !== 'undefined' && error){ %>
      <div class="alert alert-error">
        <strong><%= error %></strong>
      </div>
      <% }else{ %>
      <% if (typeof(action) !== 'undefined' && action === 'edit') { %>
      <form id='create_topic_form' action='/topic/<%= topic_id %>/edit' method='post'>
        <% } else { %>
        <form id='create_topic_form' action='/topic/create' method='post'>
          <% } %>
          <fieldset>
            <span class="tab-selector">分类：</span>
            <input type="text" name="tab" placeholder="文章分类"
            id="tab-value" value="<%=(typeof(tab) === 'undefined') ? "" : tab %>"/>
            <br/>
            <span class="tab-selector">标题：</span>
            <input class='span9' id='title' name='title' value="<%= typeof(title) !== 'undefined' && title || '' %>"
              placeholder="标题字数 10 字以上"
            />
            <div class="wmd-panel">
                <div id="wmd-button-bar"></div>
                <div class="wmd-content">
                  <textarea class="wmd-input editor" id="wmd-input" name='t_content' rows='20'
                            placeholder='文章支持 Markdown 语法, 请注意标记代码'><%= typeof(content) !== 'undefined' && content || '' %>
                  </textarea>
                  <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                  <a href='javascript:;' class='preview-button'>预览</a>
                </div>
            </div>
            

            <input type='hidden' id='topic_tags' name='topic_tags' value=''>
            <input type='hidden' name='_csrf' value='<%= csrf %>'>
            <div class='editor_buttons'>
              <input type="submit" class='span-primary submit_btn' data-loading-text="提交中"
                     value="提交">
            </div>
          </fieldset>
        </form>
    </div>
    <% } %>
  </div>
</div>

<script type="text/javascript" src="/public/javascripts/editor/marked.js"></script>    
<script type="text/javascript" src="/public/javascripts/editor/Markdown.Converter.js"></script>
<script type="text/javascript" src="/public/javascripts/editor/Markdown.Sanitizer.js"></script>
<script type="text/javascript" src="/public/javascripts/editor/Markdown.Editor.js"></script>
<script>
  (function () {
    // 分类选择的检查，必须选择
    $('#create_topic_form').on('submit', function (e) {
      var tabValue = $('#tab-value').val();
      if (!tabValue) {
        alert('必须选择一个分类！');
        $('.submit_btn').button('reset');
        $('.tab-selector').css('color', 'red');
        return false;
      }
    });

    $('.preview-button').on('click', function (e) {
      var preview = $('#wmd-preview')
      if (preview.css('display') == 'none') preview.show();
      else preview.hide();
    })
    // END 分类选择的检查，必须选择
  })();
</script>
<script type="text/javascript">
    (function () {
        var converter1 = Markdown.getSanitizingConverter();
        
        converter1.hooks.chain("preBlockGamut", function (text, rbg) {
            return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                return "<blockquote>" + rbg(inner) + "</blockquote>\n";
            });
        });
        
        var editor1 = new Markdown.Editor(converter1);
        
        editor1.run();
    })();
</script>
