<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>攻城狮快捷键</title>
        <meta name="description" content="攻城狮快捷键 - 快速查阅常用开发工具的快捷键 ">
        <meta name="keywords" content="攻城狮快捷键,sublime text,chrome,idea,快捷键,hotkey">
    </head>
    <body>
        <div class="content-middle">
            <div class="alert alert-warning"
                </a> &nbsp;快速按下&nbsp;&nbsp;<span class="label label-success">Ctrl + F </span>&nbsp;&nbsp;来搜索定位您关心的快捷键吧 !
            </div>
            <div class="well well-small">
                <ul id="tabBox" class="nav nav-pills">
                    <li class="active"><a href="#tab-IDEA" data-toggle="tab">IDEA</a></li>
                    <li class=""><a href="#tab-sublime-text" data-toggle="tab">Sublime text</a></li>
                    <li class=""><a href="#tab-chrome" data-toggle="tab">Chrome</a></li>
                </ul>
                <br>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-IDEA">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>快捷键</th>
                                <th>描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span class="label label-success">F2</span></td>
                                <td>高亮错误或警告快速定位</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">F5</span></td>
                                <td>复制文件</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">F6</span></td>
                                <td>移动文件</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">F9</span></td>
                                <td>弹出运行窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">F11</span></td>
                                <td>添加当前文件的书签</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">F12</span></td>
                                <td>显示文件结构</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">Y</span></td>
                                <td>删除行</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">N</span></td>
                                <td>快速查找类</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">R</span></td>
                                <td>替换</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">O</span></td>
                                <td>为当前类选择可覆盖或继承的方法</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">F</span></td>
                                <td>在当前代码中查找</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">J</span></td>
                                <td>提示插入Live Template的代码段</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">D</span></td>
                                <td>向下复制选中内容或者向下复制当前光标所在行内容</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">W</span></td>
                                <td>选中光标所在单词，不断按下W，将不断扩大范围(反向选中: Ctrl + Shift + W)</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">Q</span></td>
                                <td>显示光标所在变量/类名/方法的文档</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">B</span></td>
                                <td>定位光标所在类或者方法的定义</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">E</span></td>
                                <td>显示最近打开的文件(支持搜索过滤)</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">U</span></td>
                                <td>定位当前类的父类或者方法</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">K</span></td>
                                <td>提交项目代码(Commit)</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">T</span></td>
                                <td>更新项目代码</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">G</span></td>
                                <td>定位指定行</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">H</span></td>
                                <td>显示类结构层次图</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">F1</span></td>
                                <td>显示错误</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">F3</span></td>
                                <td>跳转到当前选中词的下一个同名词</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">F12</span></td>
                                <td>显示当前文件大纲/快速导航(支持搜索过滤)</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">F11</span></td>
                                <td>显示添加书签窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">Tab</span></td>
                                <td>切换编辑窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">Delete</span></td>
                                <td>删除当前光标后的单词</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">Home/End</span></td>
                                <td>定位到文件头部/尾部</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">BackSpace</span></td>
                                <td>删除当前光标前的单词</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">[ 或 ]</span></td>
                                <td>移动光标到块的起始和结束位置</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">数字</span></td>
                                <td>定位标签</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">小键盘 +/-</span></td>
                                <td>折叠/展开代码</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">鼠标单击编辑窗口的文件标题</span></td>
                                <td>显示文件路径</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">左/右方向键</span></td>
                                <td>光标跳到上一个或者下一个单词</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt </span> + <span class="label label-info">数字</span></td>
                                <td>切换和隐藏面板</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt </span> + <span class="label label-info">F1</span></td>
                                <td>显示文件操作目标窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt </span> + <span class="label label-info">F3</span></td>
                                <td>搜索选中文本</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt </span> + <span class="label label-info">F7</span></td>
                                <td>查看类/方法/变量被调用处</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt </span> + <span class="label label-info">Home</span></td>
                                <td>定位文件导航栏</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt </span> + <span class="label label-info">Insert</span></td>
                                <td>快速插入代码</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt </span> + <span class="label label-info">左右方向键</span></td>
                                <td>切换编辑窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt </span> + <span class="label label-info">Enter</span></td>
                                <td>快速修复/导入包</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Shift </span> + <span class="label label-info">F6 </span></td>
                                <td>重构/重新命名</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Shift </span> + <span class="label label-info">F2 </span></td>
                                <td>高亮错误或警告快速定位</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Shift </span> + <span class="label label-info">F11 </span></td>
                                <td>查看书签</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Shift </span> + <span class="label label-info">Enter </span></td>
                                <td>光标所在行下空出一行且光标跳下</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Shift </span> + <span class="label label-info">鼠标点击编辑窗口的标题</span></td>
                                <td>关闭当前编辑窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Shift </span> + <span class="label label-info">鼠标滚轮</span></td>
                                <td>横向滚动面板/编辑窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Alt</span> + <span class="label label-info">O</span></td>
                                <td>优化导入的类和包</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Alt</span> + <span class="label label-info">T</span></td>
                                <td>环绕选中的代码提示(可结合Live Template使用)</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Alt</span> + <span class="label label-info">B</span></td>
                                <td>显示子类或者继承类 / 跳转到实现类的方法</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Alt</span> + <span class="label label-info">Enter </span></td>
                                <td>光标所在行上空出一行且光标跳上</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Alt</span> + <span class="label label-info">Home</span></td>
                                <td>显示与当前文件关联的文件(如JSP引入了CSS/JS文件，通过此快捷键可以快速定位)</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Alt</span> + <span class="label label-info">左右方向键</span></td>
                                <td>前进或者返回上一个操作位置</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Alt</span> + <span class="label label-info">上下方向键</span></td>
                                <td>在搜索查找模式下，跳到上/下一个查找的文件</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Alt</span> + <span class="label label-info">空格</span></td>
                                <td>显示类名或方法的文档或者提示</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Alt</span> + <span class="label label-info">C</span></td>
                                <td>对选中的代码或者字符串进行抽取或者重构</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Alt</span> + <span class="label label-info">N</span></td>
                                <td>快速查找文件</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">N</span></td>
                                <td>快速查找文件</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">F</span></td>
                                <td>文件查找</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">T</span></td>
                                <td>显示测试类</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">U</span></td>
                                <td>切换大小写</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">V</span></td>
                                <td>显示最近复制过的内容</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">T</span></td>
                                <td>创建单元测试或者回到测试类的源类</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">C</span></td>
                                <td>复制当前文件所在路径到粘贴板</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">J</span></td>
                                <td>自动将下一行合并到当前行末尾</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">E</span></td>
                                <td>显示最近修改的文件</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">T</span></td>
                                <td>显示重构窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">R</span></td>
                                <td>搜索指定范围的文件且替换文本</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">N</span></td>
                                <td>快速查找文件</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">F12 </span></td>
                                <td>编辑器全屏</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">F7</span></td>
                                <td>高亮显示与所选文本相同的内容</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">Delete</span></td>
                                <td>删除环绕的标签</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">数字</span></td>
                                <td>快速添加书签</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">Enter</span></td>
                                <td>自动结束代码或者完善结构</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">小键盘 + 或 -</span></td>
                                <td>折叠/展开所有代码</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">左右方向键</span></td>
                                <td>选中单词或者文本块</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">上下方向键</span></td>
                                <td>上下移动选中的代码</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt</span> + <span class="label label-success">Shift</span> + <span class="label label-info">N</span></td>
                                <td>添加任务</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt</span> + <span class="label label-success">Shift</span> + <span class="label label-info">F</span></td>
                                <td>添加到收藏夹</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt</span> + <span class="label label-success">Shift</span> + <span class="label label-info">Insert</span></td>
                                <td>列编辑，多处编辑</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">上下方向键</span></td>
                                <td>上下移动当前行的代码</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-success">Alt</span> + <span class="label label-info">N</span></td>
                                <td> 查找类中的方法或变量</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab-sublime-text">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>快捷键</th>
                                <th>描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">`</span></td>
                                <td>命令面板</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">R</span></td>
                                <td>JS的方法定位或HTML的元素ID定位</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">I</span></td>
                                <td>代码字符串定位</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">P</span></td>
                                <td>文件切换</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">[ / ]</span></td>
                                <td>增减缩进</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">D</span></td>
                                <td>加选单词或者块选中</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">F</span></td>
                                <td>搜索</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">G</span></td>
                                <td>行定位</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">H</span></td>
                                <td>替换</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">J</span></td>
                                <td>行合并</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">K + K</span></td>
                                <td>删除光标后的文本</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">L</span></td>
                                <td>向下选择行</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">F3</span></td>
                                <td>定位所选文本的相同文本</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">M</span></td>
                                <td>光标在括号内跳转</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">Enter</span></td>
                                <td>向下插入行</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">左右方向键</span></td>
                                <td>向左/右单位性地移动光标</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">F2</span></td>
                                <td>设置书签，且以F2切换书签</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">;</span></td>
                                <td>查找文件中的变量名、属性名</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">Tab</span></td>
                                <td>切换编辑器窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">上下方向键</span></td>
                                <td>移动滚动条</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">K + B</span></td>
                                <td>开启/关闭侧边栏</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">K + Backspace</span></td>
                                <td>删除光标前的代码</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">K + U/L</span></td>
                                <td>切换大小写</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">鼠标点击</span></td>
                                <td>多处编辑</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">Enter</span></td>
                                <td>向上插入行</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">[ / ]</span></td>
                                <td>折叠/展开代码</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">D</span></td>
                                <td>向下复制行</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">P</span></td>
                                <td>弹出命令面板</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">A</span></td>
                                <td>扩大选择</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">K</span></td>
                                <td>删除当前行</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">T</span></td>
                                <td>打开最近关闭的编辑器</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt</span> + <span class="label label-info">F3</span></td>
                                <td>一次性选择全部的相同文本进行同时编辑</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt</span> + <span class="label label-info">.</span></td>
                                <td>闭合当前标签</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Shift</span> + <span class="label label-info">F11</span></td>
                                <td>免打扰模式</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt</span> + <span class="label label-success">Shift</span> + <span class="label label-info">1 - 7</span></td>
                                <td>水平分屏</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt</span> + <span class="label label-success">Shift</span> + <span class="label label-info">8 ， 9</span></td>
                                <td>垂直分屏</td>
                            </tr>
                             </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab-chrome">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>快捷键</th>
                                <th>描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">N</span></td>
                                <td>新开窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">9</span></td>
                                <td>定位到最后一个标签</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">Shift</span> + <span class="label label-info">Tab</span></td>
                                <td>切换上一个标签</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">Tab</span></td>
                                <td>切换下一个标签</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">H</span></td>
                                <td>下载历史</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">J</span></td>
                                <td>下载</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">L</span></td>
                                <td>定位到地址栏</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">Enter</span></td>
                                <td>地址栏地址自动补全www和.com</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">R</span></td>
                                <td>刷新当前页面</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-info">U</span></td>
                                <td>查看当前页面源码</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">N</span></td>
                                <td>进入隐私模式</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">T</span></td>
                                <td>恢复刚关闭的页面</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">B</span></td>
                                <td>显示隐藏书签栏</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">J</span></td>
                                <td>打开开发者工具</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Ctrl</span> + <span class="label label-success">Shift</span> + <span class="label label-info">Delete</span></td>
                                <td>打开浏览器缓存窗口</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt</span> + <span class="label label-info">Enter</span></td>
                                <td>新开标签页打开输入的网址</td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Alt</span> + <span class="label label-info">F</span></td>
                                <td>打开Chrome菜单</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script> $(function () {
        $('#tabBox a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
    </script>
</html>
