<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- meta -->
  <meta charset="utf-8"/>
  <meta name='description' content='<%= config.description %>'>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <%
  var headers = config.site_headers || [];
  for (var i = 0, l = headers.length; i < l; i++) {
  %>
  <%- headers[i] %>
  <% } %>

  <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>

  <% if (config.site_icon) { %>
  <link rel="icon" href="<%- staticFile(config.site_icon) %>" type="image/x-icon"/>
  <% } %>

  <!-- style -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <%- Loader('/public/stylesheets/index.min.css')
  .css('/public/stylesheets/style.less')
  .done(assets, config.site_static_host, config.mini_assets)
  %>
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <% if (typeof(topic) !== 'undefined') { %>
  <title><%= topic.title %> - <%= config.name %></title>
  <% } else if (typeof(pageTitle) !== 'undefined') { %>
  <title><%= pageTitle %> - <%= config.name %></title>
  <% } else { %>
  <title><%= config.description %></title>
  <% } %>
  <meta content="_csrf" name="csrf-param">
  <meta content="<%= csrf %>" name="csrf-token">
  <!-- 创建微博 App 的验证信息 -->
  <meta property="wb:webmaster" content="27df391315f023b0" />
</head>
<body>

<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>
          <% if (config.site_logo) {%>
            <img src="<%- staticFile(config.site_logo) %>" />
          <%} else {%>
            <%- config.name %>
          <%}%>
        </a>
    </div>

    <ul class="nav navbar-nav first-ul">
      <li><a href='/'>首页</a></li>
    </ul>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if (typeof(current_user) !== 'undefined'){ %>
          <li class="dropdown">
            <a href="/user/<%=current_user.loginname%>/topics" class="dropdown-toggle" data-toggle="dropdown">
              <% if (current_user.messages_count) { %>
                <span class='big messages_count'>
                  <%= current_user.messages_count %>
                </span>
              <% } %>
              <%=current_user.loginname%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/user/<%=current_user.loginname%>/topics">我的文章</a></li>
              <li><a href="/my/messages">通知</a></li>
              <li><a href="/setting">设置</a></li>
              <li><a href="/signout">退出</a></li>
            </ul>
          </li>
         <% } else { %>
          <li><a href='/signup'>注册</a></li>
          <li><a href='/signin'>登录</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div id='main'>
  <%- body %>
</div>
<div id='backtotop'>回到顶部</div>
<div id='footer'>
  <div id='footer_main'>
    <div class="links">
      <a class='dark' href='/rss'>RSS</a>|
    </div>

    <%- partial('./_sponsors') %>

  </div>
</div>
<div id="sidebar-mask"></div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '<%-config.google_tracker_id%>', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
