<div id='tags' class="clearfix">

  <div class="side-container-hx">
    <div class="hot-view">
        <h3 class="t-h2">
          <a href="/tagslist/all.html" class="more">所有标签</a>
        </h3>

        <div class="tags-list list-tags">
          <ul class="inline clearfix">
            <% ['全部'].concat(tabs).forEach(function (tab) { %>
              <li>
                <a href="/user/<%=user.loginname%>/topics<%=(tab == '全部') ? '' : '?tab=' + tab%>"><%= tab %></a>
                <a href="javascript:void(0);" class="set-tags">+</a>
              </li>
            <% }) %>
          </ul>
        </div>
    </div>
    </div>

  <% if (typeof(current_user) !== 'undefined') { %>
  <div class="panel">
    <div class='inner'>
      <a href='/topic/create' id='create_topic_btn'>
        <span class='span-success'>发布文章</span>
      </a>
    </div>
  </div>
  <% } %>
</div>
