<%- partial('../tags',{tabs: tabs}) %>

<div id='content'>
  <div class='t-h3'>
    <%= (typeof(currentTab) !== 'undefined') ? currentTab : "全部" %>
  </div>
  <div class='panel'>
    <% if(typeof(topics) !== 'undefined' && topics.length > 0 ){ %>
      <%- partial('../topic/list', {
        topics: topics,
        pages: pages,
        current_page: current_page,
        base: '/user/'+user.loginname+'/topics'
      }) %>
    <%}else{ %>
    <div class='inner'>
      <p>无话题</p>
    </div>
    <% } %>
  </div>
</div>

