<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <% ['全部'].concat(tabs).forEach(function (tab) { %>
          <li><a href="/user/<%=user.loginname%>/topics<%=(tab == '全部') ? '' : '?tab=' + tab%>"
            class="topictab <%= tab == currentTab ? 'current-tab' : '' %>"
          ><%= tab %>
          </a></li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class='panel'>
    <% if(typeof(topics) !== 'undefined' && topics.length > 0 ){ %>
      <%- partial('../topic/list', {
        topics: topics,
        pages: pages,
        current_page: current_page,
        base: '/user/'+user.loginname+'/topics'
      }) %>
    <%}else{ %>
    <div class='inner'>
      <p>无话题</p>
    </div>
    <% } %>
  </div>
</div>

